@model MVC_WebApp.Models.Employeeasp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employeeasp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Netsal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Netsal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Eid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
